@import "bootstrap_variables";
@import "bootstrap";

/* Universal Styles */
html {
	// Turns on scroll bar to correct horizontal jumping
  overflow-y: scroll;
}

body {
  padding-top: 50px;
}

.container {
  width: 1000px;
}

/* footer */
footer {
  background-color: #f5f5f5; 
  overflow: hidden;
  margin-top: 30px;
  .content {
    padding: 0 10px;
    .credit {
      margin: 10px 0;
    }
  } 
}
